@import "tailwindcss";

@theme {
  --maxWidth-maxContent: "1260px";
  --maxWidth-maxContentTab: "650px";
  --color-black: #000;
  --color-richblack-5: #F1F2FF;

}

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities;   */

html, body {
    overflow-x: hidden;
}

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}

/* https://10015.io/tools/css-loader-generator */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    /* animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear; */
  }

  .noscroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* display: none; */
  }
  
.animate-on-scroll {
  /* Link to the keyframes */
  animation: fadeUp both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
  

}

@keyframes fadeUp {
  from {
    opacity: 0 ;
    transform: translateY(10px) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


  @keyframes spinner-bulqg1 {
    0% {
      clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
  
    12.5% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%
      );
    }
  
    25% {
      clip-path: polygon(
        50% 50%,
        0% 0%,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    62.5% {
      clip-path: polygon(
        50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    75% {
      clip-path: polygon(
        50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    100% {
      clip-path: polygon(
        50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%
      );
    }
  }
  
  @keyframes spinner-oaa3wk {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
  
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
  
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
  
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }

  /* @theme {
    --className-lable-style: text-[14px] text-richblack-5;
    --className-form-style: rounded-lg bg-richblack-700 p-2 text-[16px] leading-[10px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none; 
  }
   */
   /* .form-style {
    @apply 
 } 
    */